.App {
  text-align: center;
}

.App-header {
  margin: auto;
  background-color: #0a0b0ef3;
  color: rgb(55, 102, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max ;
  height: 125px;
}

button.button {
  display: flex;
  margin: auto;
  width: 8em;
  height: 2em;
  align-items: center;
  justify-content: center;
  background: black;
  color: rgb(165, 57, 168);
  font-size: 16px;
  border-radius: .50em;
  margin-bottom: 2px;
}

input {
  height: 2.2em;
  border-radius: 1em;
  border:rgb(41, 105, 177) solid .20em;
  background-color: rgba(236, 236, 236, 0.884);
  text-align: center;
}

button {
  display: flex;
  height: 2.2em;
  border-radius: 1em;
  border:rgb(31, 96, 172) solid .12em;
  background-color: rgba(236, 236, 236, 0.884);
  text-align: center;
  margin: auto;
}

h1,h2 {
 margin-top: 12px;
 text-align: center;
}


p {
  color: crimson;
  margin-top: 2em;
  text-align: center;
}

a {
  color: rgba(44, 176, 199, 0.945);
  text-align: center;
}

li {
  text-align: center;
}

hr {
  width: 12em;
  border-radius: .3em;
  border: rgba(88, 34, 88, 0.945);
  height: .4em;
  margin: auto;
  background: rgba(67, 29, 82, 0.856);
}